.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.fieldContainer{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}